*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #6589f9;
    margin: 20px 0;
}

.card {
    margin: 5px;
    position: relative;
    transition: all .4s linear;
    transform-style: preserve-3d;
}

.card, .back, .front {
    height: 150px;
    width: 150px;
}

.back, .front {
    position: absolute;
    backface-visibility: hidden;
}

.front{
    z-index: 2;
    background: #fab942 no-repeat center center / contain;
}

.back {
    transform: rotateY(180deg);
    background-color: #6589f9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.selected {
    transform: rotateY(180deg);
}

.match .front {
    background: none !important;
}